<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Database:Local" value="Server=.;Initial Catalog=Euroleague;Integrated Security=True; TrustServerCertificate=True;" />
		<add key="Database:Live" value="Server=mssql-187058-0.cloudclusters.net,10178;Initial Catalog=Euroleague;User ID=admin;Password=St2023!!@@##;Encrypt=True;TrustServerCertificate=True;" />
		
		
		
		<add key="ApiUrl:Local" value="http://localhost:17772/api" />
		<add key="ApiUrl:Live" value="https://euroleague-api-master.onrender.com/api" />

	</appSettings>
</configuration>
